In [ ]:
#importing the libraries
import numpy as np
import pandas as pd

In [39]:
#reading the data from given dataset
data = pd.read_csv('ex1data2.txt',header = None)
#reading the first two columns of size and no. of rooms as input
x = data.iloc[:,0:2]
#reading the last column of price as output
y = data.iloc[:,2]
# m is the number of training examples
m = len(y)
#reading the initial 5 rows in data
data.head(5)

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [40]:
#size is larger than the number of rooms
#therefore doing mean normalization
x = (x-np.mean(x))/np.std(x)

In [41]:
#initializing parameters and adding an axis to y
y = y[:,np.newaxis]
ones = np.ones((m,1))
x = np.hstack((ones,x))
alpha = 0.01
iterations = 400
theta = np.zeros((3,1))

In [42]:
#computing the cost
def computeCostMulti(x,y,theta):
    temp = np.dot(x,theta) - y
    return (np.sum(np.power(temp,2)))/(2*m)
J = computeCostMulti(x,y,theta)
print(J)

65591548106.45744

In [44]:
#finding the theta using Gradient Descent
def gradientDescentMulti(x,y,theta,alpha,iterations):
    for _ in range(iterations):
        temp = np.dot(x,theta)-y
        temp = np.dot(x.T,temp)
        theta = theta - (alpha/m)*temp
    return theta
theta = gradientDescentMulti(x,y,theta,alpha,iterations)
print(theta)

[[334302.06399328]
 [ 99411.44947359]
 [  3267.01285407]]

In [46]:
J = computeCostMulti(x,y,theta)
print(J)

2105448288.6292474